body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  h2 {
    font-size: 14px;
  }
  
  canvas {
    width: 100%;
  }
  
  /* Tabs Navigation */
  .tabs {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 30px;
    border-bottom: 2px solid #f0f0f0;
    align-items: center;
  }
  
  .tabs a {
    text-decoration: none;
    color: #555;
    padding: 10px;
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
  }
  
  .tabs a:hover, .tabs a.active {
    color: #4FD1C5;
    border-bottom: 3px solid #4FD1C5;
  }
  
  .right-aligned {
    display: flex;
    margin-left: auto;
    gap: 20px;
    align-items: center;
  }
  
  .date-picker, .data-center-filter {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    font-family: Arial, sans-serif;
    align-items: flex-start;
  }
  
  .date-picker label, .data-center-filter label {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.313rem;
    font-size: 0.875rem;
    display: block;
  }
  
  .date-picker input[type="date"], .data-center-filter select, .data-center-filter input {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    color: #333;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    cursor: pointer;
  }
  
  .date-picker input[type="date"]:hover, .data-center-filter select:hover {
    border-color: #777;
  }
  
  .date-picker input[type="date"]:focus, .data-center-filter select:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
  }
  
  /* Styling for No Data Message */
  .no-data-message {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000000;
    background-color: #f4f4f9;
    text-align: center;
    padding: 50px;
  }

/*Dashboard styling*/

.main-stat-container{
    background-color: white; 
    border-radius: 10px; 
    padding: 1.3rem 1.1rem; 
    flex-grow: 1;
    display: flex; 
    align-items: center;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.05);
}

/* .main-stat-container:not(:has(.change-container)){
    padding: 0.9rem 1.6rem;
} */

.main-stat-container .stat{
    white-space: nowrap;
}

.main-stat-container .stat-value{
    color: #464549; 
    font-size: 1.05rem;
}

.main-stat-container .stat-name{
    color: #CAC9CA; 
    font-size: 0.86rem; 
    margin-top: 0.8rem;
}

.main-stat-container img{
  filter: invert(72%) sepia(99%) saturate(265%) hue-rotate(116deg) brightness(86%) contrast(89%);
  height: 2.2rem;
  margin-bottom: 0.7rem;
}


.main-stat-container .change-container{
    border-radius: 10px; 
    aspect-ratio: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 0.78rem;
    height: 100%;
    padding: 0.6rem;
    margin-left: auto;
}

.main-stat-container .change-container.negative{
    background-color: #EDFAF0; 
    color: #4D995A;
}

.main-stat-container .change-container.positive{
    background-color: #FAEDED; 
    color: #CC3D3D;
}

.main-stat-container .change-container.neutral{
    background-color: #F2F2F2; 
    color: #C2C2C2;
}

.graph-container{
  background: white; 
  padding: 1.3rem 1.6rem; 
  border-radius: 10px; 
  color: #464549; 
  font-size: 0.97rem;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.05);
}

.pie-chart-labels-container{
  font-size: 0.8rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;
  flex-wrap: nowrap;
}

.pie-chart-labels-container .label-color{
  margin-right: 0.7rem;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 3px;
}

.pie-chart-labels-container .label-name{
  padding-right: 1rem;
}

.pie-chart-labels-container .label-value {
  color: #8A8A8A;
}

.pie-chart-labels-container .column{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.chart-container{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
  