body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  h2 {
    font-size: 14px;
  }
  
  canvas {
    width: 100%;
  }
  
  /* Tabs Navigation */
  .tabs {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 30px;
    border-bottom: 2px solid #f0f0f0;
    align-items: center;
  }
  
  .tabs a {
    text-decoration: none;
    color: #555;
    padding: 10px;
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
  }
  
  .tabs a:hover, .tabs a.active {
    color: #4FD1C5;
    border-bottom: 3px solid #4FD1C5;
  }
  
  .right-aligned {
    display: flex;
    margin-left: auto;
    gap: 20px;
    align-items: center;
  }
  
  .date-dropdown,
  .data-center-filter {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
  }
  
  .date-dropdown label,
  .data-center-filter label {
      font-weight: bold;
      color: #333;
      font-size: 14px;
  }
  
  .date-picker input[type="date"], .data-center-filter select, .data-center-filter input {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    color: #333;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    cursor: pointer;
  }
  
  .date-picker input[type="date"]:hover, .data-center-filter select:hover {
    border-color: #777;
  }
  
  .date-picker input[type="date"]:focus, .data-center-filter select:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
  }
  
  /* Styling for No Data Message */
  .no-data-message {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000000;
    background-color: #f4f4f9;
    text-align: center;
    padding: 50px;
  }

/*Dashboard styling*/

.main-stat-container{
    background-color: white; 
    border-radius: 10px; 
    padding: 1.3rem 1.1rem; 
    flex-grow: 1;
    display: flex; 
    align-items: center;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.05);
}

/* .main-stat-container:not(:has(.change-container)){
    padding: 0.9rem 1.6rem;
} */

.main-stat-container .stat{
    white-space: nowrap;
}

.main-stat-container .stat-value{
    color: #464549; 
    font-size: 1.05rem;
}

.main-stat-container .stat-name{
    color: #CAC9CA; 
    font-size: 0.86rem; 
    margin-top: 0.8rem;
}

.main-stat-container img{
  filter: invert(72%) sepia(99%) saturate(265%) hue-rotate(116deg) brightness(86%) contrast(89%);
  height: 2.2rem;
  margin-bottom: 0.7rem;
}


.main-stat-container .change-container{
    border-radius: 10px; 
    aspect-ratio: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 0.78rem;
    height: 100%;
    padding: 0.6rem;
    margin-left: auto;
}

.main-stat-container .change-container.negative{
    background-color: #EDFAF0; 
    color: #4D995A;
}

.main-stat-container .change-container.positive{
    background-color: #FAEDED; 
    color: #CC3D3D;
}

.main-stat-container .change-container.neutral{
    background-color: #F2F2F2; 
    color: #C2C2C2;
}

.graph-container{
  background: white; 
  padding: 1.3rem 1.6rem; 
  border-radius: 10px; 
  color: #464549; 
  font-size: 0.97rem;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.05);
}

.pie-chart-labels-container{
  font-size: 0.8rem;
  white-space: nowrap;
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;
  flex-wrap: nowrap;
}

.pie-chart-labels-container .label-color{
  margin-right: 0.7rem;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 3px;
}

.pie-chart-labels-container .label-name{
  padding-right: 1rem;
}

.pie-chart-labels-container .label-value {
  color: #8A8A8A;
}

.pie-chart-labels-container .column{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.chart-container{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#cellTowerDropdown option {
  background-color: #f9f9f9;
  color: #333;
  padding: 8px;
  text-align: left;
}

#datePickerToggle,
#cellTowerDropdown {
  -webkit-appearance: none;
  width: 120px;
  padding: 8px 12px;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"%3E%3Cpath fill="%23333" d="M5 6L0 0h10L5 6z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 6px;
  transition: border-color 0.3s ease;
  text-indent: 10px;
}

#datePickerToggle:hover,
#cellTowerDropdown:hover,
#datePickerToggle:focus,
#cellTowerDropdown:focus {
  background-color: #e1f5f4;
  border-color: #4FD1C5;
}

#datePickerContainer {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 180px;
}

#datePickerContainer select,
#datePickerContainer input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  transition: border-color 0.3s ease;
}

#datePickerContainer select:focus,
#datePickerContainer input:focus {
  border-color: #4FD1C5;
  box-shadow: 0 0 5px rgba(79, 209, 197, 0.2);
}

.button-container-date {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}
  

.ok-button {
  padding: 8px 20px;
  font-size: 10px;
  font-weight: 600;
  color: #4e5d63; /* Text color */
  background-color: #ffffff; /* White background */
  border: 1px solid #4e5d63; /* Gray border */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.ok-button:hover {
  background-color: #4e5d63; /* Gray background on hover */
  color: #ffffff; /* White text on hover */
}

.blur {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  display: none;
  align-items: center;
  justify-content: center;
}

.popup-container{
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  transition: color 0.3s ease;
  font-family: Arial, sans-serif;
  text-align: left;
}

.close:hover {
  color: #333; /* Darker color on hover */
}

.noto--crystal-ball {
  cursor: pointer;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%238b5738' d='M31.13 110.55c0-4.3 6.01-19.49 6.01-19.49c5.79-1.79 47.6-.27 53.97-.27c0 0 5.76 12.33 5.76 19.76S79.19 124 64.06 124s-32.93-6.02-32.93-13.45'/%3E%3Cellipse cx='64.06' cy='93.5' fill='%23ffb17a' rx='27.05' ry='11.75'/%3E%3Cpath fill='%23cc8552' d='M38.67 106.15c3.02 1.72 7.8 1.59 11.51 2.26c4.72.86 7.39 4.46 16.49 4.3c3.25-.06 10.83-.43 10.41-.42c-.26-.53-1.74-1.04-4.62-1.49c-2.64-.42-4.54-.38-7.6-.38c-2.34 0-5.55-.7-8.79-2.48c-1.48-.81-3.78-1.71-6.03-2.17c-3.46-.71-5.87.04-10.7-2.25c-2.31-1.09-4.18-3.35-4.62-5.98l-1.14 3.28c1.5 2.75 2.87 4.07 5.09 5.33m49.77-2.69c-7.74 4.92-14.28 4.37-14.28 4.37c-.55.36 3.96 1.33 7.31.77c6.58-1.1 10.58-4.4 13.18-8.82c-.36-1.12-1.15-3.24-1.15-3.24c-.75 1.81-1.62 4.73-5.06 6.92'/%3E%3Cpath fill='%23a86d44' d='M74.51 117.42c-4.28.78-8.38-.55-12.59-1.54c-5.77-1.35-16.61-1.16-16.61-1.16c-.65.32 5.11 2.41 7.91 2.65c2.55.22 5.25 0 7.67.99c3.41 1.39 6.71 2.09 10.01 2.09c6.27 0 14.46-3.78 16.41-8.69c0 0-3.58 2.1-6.36 3.51c-2.02 1.03-4.2 1.75-6.44 2.15'/%3E%3Cpath fill='%23a86d44' d='M35.82 111.48c.85 1.36 1.72 2.62 2.86 3.75c1.93 1.92 4.37 3.03 5.94 2.75c0 0-5.56-4.49-4.97-5.66c.3-.6 11.84.35 11.84.35s-3.5-1.84-6.91-2.5c-2.21-.43-6.25.43-9.93-2.16c-2.03-1.43-2.34-3.15-2.34-3.15s-.73 2.49-.88 3.44c2.13 2.23 4.11 2.73 4.39 3.18m58.48-4.94c-2.02 1.81-5.21 5.47-5.21 7.36c0 0 3.58-3.47 5.99-5.06c.6-.39 1.03-.89 1.5-1.42c0 0-.24-1.79-.62-3.06c-.15.85-.76 1.38-1.66 2.18'/%3E%3CradialGradient id='notoCrystalBall0' cx='77.121' cy='66.694' r='76.184' gradientTransform='rotate(-3.714 -608.323 2.714)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.104' stop-color='%23ce93d8'/%3E%3Cstop offset='1' stop-color='%23ab47bc'/%3E%3C/radialGradient%3E%3Ccircle cx='64' cy='52.76' r='48.76' fill='url(%23notoCrystalBall0)'/%3E%3CradialGradient id='notoCrystalBall1' cx='53.349' cy='46.135' r='69.389' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.28' stop-color='%2381d4fa' stop-opacity='0'/%3E%3Cstop offset='.964' stop-color='%2381d4fa' stop-opacity='0.9'/%3E%3C/radialGradient%3E%3Ccircle cx='64' cy='52.76' r='48.76' fill='url(%23notoCrystalBall1)'/%3E%3ClinearGradient id='notoCrystalBall2' x1='74.69' x2='35.942' y1='10.651' y2='111.007' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23673ab7'/%3E%3Cstop offset='.937' stop-color='%23673ab7' stop-opacity='0'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23notoCrystalBall2)' d='M45.91 22.37c4.54.39 13.84 3.79 7.07 12.51C48.53 40.61 42.97 45.94 41 50.55c-5.69 13.33 8.57 18.77 13 20.16c3.84 1.21 11.24 3.91 13.32 7.36C75.35 91.37 50.93 95 50.93 95s17.97 6.55 32.77-3.46c5.6-3.79 10.53-12.61 5.71-20.55c-2.34-3.85-8.79-7.32-10.37-8.56c-6.76-5.34-10.93-10.86-7.57-17.05c1.36-2.5 4.2-3.8 6.95-4.56c7.7-2.13 17.31-1.75 19.82-11.26C100.41 21.36 84.57 3.04 60 6.02c-10.2 1.23-19.38 5.5-26.89 12.52c-13.86 12.97-12.66 23.7-12.66 23.7s9.03-21.3 25.46-19.87' opacity='0.7'/%3E%3ClinearGradient id='notoCrystalBall3' x1='80.878' x2='80.878' y1='24.934' y2='108.077' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.235' stop-color='%231d44b3'/%3E%3Cstop offset='.884' stop-color='%232044b3' stop-opacity='0.074'/%3E%3Cstop offset='.936' stop-color='%232144b3' stop-opacity='0'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23notoCrystalBall3)' d='M99.77 24.22c-3.48-5.06-8.29-9.08-13.36-12.55c-8.09-5.53-18.55-5.98-18.55-5.98c12.84 6.14 11.4 14.28 7.21 20.1c-5.1 7.09-15.33 11.88-18 20.51c-1.56 5.04-.6 10.34 4.31 13.56s22.58 11.77 23.19 21.89c.46 7.62-5.6 12.42-5.6 12.42c7.09-1.53 22.01-11.97 17.59-22.71c-2.14-5.2-11.87-8.65-6.97-14.58c1.82-2.21 14.53-3.39 15.72-16.25c.55-6.01-2.69-12.27-5.54-16.41' opacity='0.39'/%3E%3ClinearGradient id='notoCrystalBall4' x1='-2575.355' x2='-2575.355' y1='437.519' y2='471.206' gradientTransform='scale(-1 1)rotate(15.017 293.083 9871.848)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.227' stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23notoCrystalBall4)' d='M24.71 61.66s-7.3-19.36 7.69-37.29c12.35-14.78 23.5-8.8 21.78-2.5c-1.73 6.3-7.1 8.24-15.19 14.57C28.3 44.8 24.71 61.66 24.71 61.66' opacity='0.85'/%3E%3ClinearGradient id='notoCrystalBall5' x1='85.871' x2='85.871' y1='28.96' y2='52.387' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.261' stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23notoCrystalBall5)' d='M92.96 34.77c-1.95-.97-3.51-2.19-4.19-4.26l-2.89-9.57l-2.89 9.57c-.68 2.06-2.25 3.29-4.19 4.26l-4.83 2.09l4.97 2.06c1.95.97 3.37 2.3 4.06 4.36l2.89 9.49l2.89-9.49c.68-2.06 2.11-3.39 4.06-4.36l4.97-2.06z'/%3E%3ClinearGradient id='notoCrystalBall6' x1='76.221' x2='76.221' y1='58.161' y2='85.231' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23notoCrystalBall6)' d='M83.31 69.37c-1.95-.97-3.51-2.19-4.19-4.26l-2.89-9.57l-2.89 9.57c-.68 2.06-2.25 3.29-4.19 4.26l-4.83 2.09l4.97 2.06c1.95.97 3.37 2.3 4.06 4.36l2.89 9.49l2.89-9.49c.68-2.06 2.11-3.39 4.06-4.36l4.97-2.06z'/%3E%3Cpath fill='%23fff' d='M106.34 53.97c-1.47-.73-2.65-1.66-3.17-3.21l-2.18-7.23l-2.18 7.23c-.52 1.56-1.7 2.48-3.17 3.21L92 55.55l3.75 1.56c1.47.73 2.55 1.73 3.06 3.29l2.18 7.16l2.18-7.16c.52-1.56 1.59-2.56 3.06-3.29l3.75-1.56z'/%3E%3C/svg%3E");
}