/* Global styling */

body {
  min-height: 100vh; /* Set a minimum height of 100% of the viewport height */
}

/* Resetting default styles and setting font */
* {
  margin: 0; /* Reset margin to zero for all elements */
  padding: 0; /* Reset padding to zero for all elements */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button{
  all: unset;
  cursor: pointer;
}

/*Font sizes for different screen widths, matches figma*/
/*Responsive font sizes*/
/*How to use: use rem as the unit, 1-1 conversion from figma. ie, 16px in figma = 16rem in html*/
/*You can also use this for sizing but idk how well it will work*/
@media (min-width: 2000px) {
  html {
      font-size: calc(15px / 16);
  }
}

@media (max-width: 2000px) {
  html {
      font-size: calc(15px / 16);
  }
}

@media (max-width: 1200px) {
  html {
      font-size: calc(12px / 16);
  }
}

@media (max-width: 900px) {
  html {
      font-size: calc(10px / 16);
  }
}

@media (max-width: 700px) {
  html {
      font-size: calc(8px / 16);
  }
}

@media (max-width: 560px) {
  html {
      font-size: calc(7px / 16);
  }
}

/*Font inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-bold {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-semibold {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-medium {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-regular {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*Font time open sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.open-sans-semibold {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.open-sans-medium {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.open-sans-regular {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
