body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

h2 {
    font-size: 12px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-container {
    margin: 20px 0;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

canvas {
    width: 100%;
    height: 400px;
}

/* Tabs Navigation */
.tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #f0f0f0;
    align-items: center;
  }
  
  .tabs a {
    text-decoration: none;
    color: #555;
    padding: 10px;
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
  }
  
  .tabs a:hover, .tabs a.active {
    color: #4FD1C5;
    border-bottom: 3px solid #4FD1C5;
  }
  
  /* Align year filter to the right of the tabs */
  .tabs {
    display: flex;
    align-items: center;
  }
  
  .year-filter {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .year-filter label {
    margin-right: 5px;
    font-weight: 600;
  }
  
  /* Adjusting the Select Dropdown styling */
  .year-filter select {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .year-filter select:focus {
    border-color: #4FD1C5;
  }
  