
#dashboard-tabs {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
}

#dashboard-tabs button{
  border-radius: 15px;
  height: 2.5rem;
  width: 10rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

#review-tab-btn{
  background-color: #4FD1C51A; 
  color: #0FAFA0;
}

#review-tab-btn.active{
  background-color: #4FD1C5; 
  color: white;
}

#forecast-tab-btn{
  background-color: #AE85FF1A;
  color: #AE85FF;
}

#forecast-tab-btn.active{
  background-color: #AE85FF;
  color: white;
}

.forecast-legends{
  display: flex;
  gap: 1.4rem;
  margin-bottom: 1.3rem;
  margin-top: 0.6rem;
}

.forecast-legends .container{
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.forecast-legends .color{
  width: 0.95rem;
  height: 0.95rem;
  border-radius: 3px;
  border-width: 3px;
  border-style: solid;
}

.forecast-legends .title{
  color: #8A8A8A;
  font-size: 0.85rem;
  font-weight: 500;
}

#forecast-period{
  padding: 6px;
  font-size: 0.95rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #f5f8fa;
  color: #333;
  transition: border-color 0.3s ease;
  width: 10%;
}

#forecast-period:focus {
  border-color: #AE85FF;
  outline: none;
}

#forecast-period-btn{
  color: #AE85FF;
  font-size: 0.9rem;
  border: 1px solid #AE85FF;
  padding: 6px 1.4rem;
  border-radius: 8px;
  font-weight: 600;
}

#forecast-period-btn:hover{
  background-color: #AE85FF26;
}