@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.navbar{
  position: fixed;
  top: 0;
}

.nav-link{
  font-size: 0.9rem !important; 
  color: #18191F !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
}

.collapse:not(.show) .nav-links{
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%);
}
