/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.layout-container {
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

.logo h2 {
    font-size: 1.5em;
    color: #4FD1C5;
    font-weight: 600;
}

.nav-menu a {
    text-decoration: none;
    color: #555;
    padding: 15px 0;
    font-weight: 600;
    transition: 0.3s ease;
}

.nav-menu a:hover,
.nav-menu a.active {
    color: #4FD1C5;
}

.main-content {
    margin-left: 270px;
    padding: 20px;
    overflow-y: auto;
    flex: 1;
}

.report-content {
    width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#chart-container {
    margin: 20px 0;
    width: 100%;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 0.9em;
    table-layout: auto;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.data-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.data-table th:first-child,
.data-table td:first-child {
    width: 150px;
}

.download-btn {
    padding: 10px 20px;
    background-color: #4FD1C5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.download-btn:hover {
    background-color: #3BAF9B;
}

