input, button{
    all: unset;
}

.tabs {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 30px;
    border-bottom: 2px solid #f0f0f0;
    align-items: center;
}
  
.tabs div {
    text-decoration: none;
    color: #555;
    padding: 10px;
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tabs div:hover, .tabs div.active {
    color: #4FD1C5;
    border-bottom: 3px solid #4FD1C5;
}

.tabs div:hover{
    cursor: pointer;
}

.settings-container{
    padding: 3vh 3%;
}

#profile-img {
    border-radius: 50%;
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.edit-profile-picture-label {
    border-radius: 50%;
    background-color: white;
    width: 24px;
    height: 24px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-profile-picture-label i {
    color: #4FD1C5;
    font-size: 12px;
}



.text-field{
    width: 50%;
    margin-top: 2rem;
    display: flex; 
    flex-direction: column;
}

.title{
    color: #333;
    font-size: 1rem;
}

.edit{
    color: #48BEB3;
    cursor: pointer;
    font-size: 0.9rem;
}

.value{
    color: #6D7B8A;
    margin-top: 0.8rem;
    font-size: 0.95rem;
    padding: 0;
}

.value.active{
    border-radius: 12px;
    border: 1px solid #E0E3E5;
    padding: 0.6rem 0.5rem;
    color: #333;;
}

.separator{
    height: 2px;
    width: 100%;
    background-color: #E7EAED;
    margin-top: 0.3rem;
}

.error-message{
    font-size: 0.85rem;
    margin-top: 0.5rem;
    color: red;
    opacity: 0;
}

.success-message{
    font-size: 0.9rem;
    color: green;
    opacity: 0;
}





.badge-icon {
    position: absolute;
    bottom: -10px; /* Adjust position to align with the larger size */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Center alignment */
    width: 50px; /* Set only the width to keep the aspect ratio */
    height: auto; /* Auto height to maintain aspect ratio */
    background-color: transparent; /* Ensure no background color */
}
