body {
    font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.actions {
    display: flex;
    gap: 0.5rem;
}

.actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4efe6;
    color: #1c160c;
    border: none;
    border-radius: 9999px;
    height: 2.5rem;
    padding: 0 0.625rem;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5;
}

.user-avatar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}


/* .equipment-section {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    flex-grow: 1;
    gap: 1rem;
} */

.equipment-section h1 {
    color: #1c160c;
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: -0.033em;
}

.search-bar {
    width: 100%; /* Match the table's width */
    max-width: 1300px; /* Match the table's max-width */
    margin: 0 auto; /* Center the search bar */
    margin-bottom: 1%;
}

.search-bar label {
    display: block; /* Prevent flex layout for the label */
    width: 100%;
}

.search-bar input {
    width: 100%; /* Ensure the input fills the container */
    height: 3rem;
    border: none;
    border-radius: 0.75rem;
    background-color: #B9E4C9;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1c160c;
    outline: none;
    box-sizing: border-box; /* Avoid unexpected padding issues */
}

.search-bar input::placeholder {
    color: #2F6D45;
}


.equipment-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    max-width: 1500px; /* Increase the maximum width */
    margin: 0 auto; /* Center the section on the page */
    gap: 1rem;
}

.equipment-table {
    width: 100%; /* Set the table width to occupy the full section width */
    max-width: 1300px; /* Add a max-width if necessary */
    overflow: hidden;
    border: 1px solid #B9E4C9;
    border-radius: 0.75rem;
    background-color: #ffffff;
}

.equipment-table table {
    width: 100%;
    border-collapse: collapse;
}

.equipment-table th {
    background-color: #ffffff;
    padding: 0.75rem;
    text-align: left;
    color: #1c160c;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
}

.equipment-table td {
    padding: 0.5rem 0.75rem;
    text-align: left;
    color: #1c160c;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    border-top: 1px solid #B9E4C9;
}

.equipment-table td:nth-child(4),
.equipment-table td:nth-child(5),
.equipment-table td:nth-child(6),
.equipment-table td:nth-child(7) {
    color: #2F6D45;
}

.equipment-table td:nth-child(7) {
    font-weight: 700;
}
